.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
}

.content {
  cursor: pointer;

  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
}

.button {
  width: 134px;
  height: 36px;
  color: var(--color-light-100);
}

.post {
  display: flex;
  column-gap: 12px;
  align-items: flex-start;
  padding: 12px 24px;
}

.counter {
  margin-top: 5px;
  color: var(--color-light-900);
  text-align: right;
}

.avatarUser {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
}

.submit {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 12px 24px;
}

.main {
  flex-grow: 1;
  margin-top: 30px;
  padding: 12px 24px;
}

.description {
  width: 433px;
  height: 120px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  height: 100%;
  padding-bottom: 12px;
}
