.container {
  margin: 30px 0 20px 0;
}

.container h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}

.subscription span {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.subscription {
  width: 1200px;
  height: 144px;
  background-color: #1a1c1c;
  flex-direction: column;
  gap: 10px;
}

.subscription div {
  display: flex;
  align-items: center;
  margin: 10px;
  padding-top: 5px;
}

.subscription input {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  margin: 10px;
}

.payments {
  display: flex;
  align-items: center;
  margin: 25px 0 0 920px;
}

.payments p {
 margin: 0 35px 0 35px;
}

.payments img {
  border-radius: 10px;
}

@media (max-width: 376px) {
  .subscription {
    width: 350px;

    border-radius: 5px;
  }
  .payments {
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
}