.headerContainer {
  display: flex;
  column-gap: 20px;
  width: 100%;
  max-width: 996px;
  margin-bottom: 48px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.imageContainer {
  position: relative;
  width: 204px;
  height: 204px;

  @media (min-width: 768px) {
    flex: 0 0 204px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.imageContainerMedia {
  position: relative;
  width: 72px;
  height: 72px;

  @media (min-width: 768px) {
    display: none;
    width: 204px;
    height: 204px;
  }
}

.avatar {
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 50%;
}

.container {
  display: flex;
  width: 100%;

  @media (min-width: 768px) {
    flex-direction: column;
  }
}

.userNameContainer {
  @media (min-width: 768px) {
    margin-bottom: 20px;
  }
}

.userName {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-l);

  @media (max-width: 768px) {
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
  }
}

.infoContainer {
  display: flex;
  gap: 100px;
  margin-bottom: 24px;

  @media (max-width: 768px) {
    padding-top: 20px;
    gap: 33px;
    justify-content: space-between;
  }
}

.infoItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semi-bold);

  @media (min-width: 768px) {
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
  }
}

.displayNoneMobile {
  @media (max-width: 768px) {
    display: none;
  }
}

.displayNoneDesktop {
  @media (min-width: 768px) {
    display: none;
  }
}
