.closeWindow{
  height: 100px;
  width: 380px;
}

.message{
  margin-bottom:35px;
}

.buttons{
  display: flex;
  justify-content: right;
}

.buttons button{
  margin-right: 15px;
  padding: 6px 30px;
  &:active {
    background-color: #397DF6;
    color: #ffffff;
  }
}