.sidebar {
  position: fixed;
  z-index: 2;
  top: 60px;
  left: 0;

  overflow-y: auto;

  min-width: 220px;
  height: calc(100vh - 60px);

  color: var(--color-light-100);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  height: 100%;
  padding: 24px 10px 110px 60px;

  border-right: 1px solid var(--color-dark-300);
}

.item {
  display: flex;
}

.itemActive {
  color: var(--color-accent-500);
}

.link {
  display: flex;
  gap: 12px;
  align-items: center;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-medium);

  &:hover {
    color: var(--color-accent-500);
  }
}

.itemGroup {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 24px;

  margin-top: 60px;
}

.itemLogout {
  margin-top: auto;
}

.infoModalText {
  margin-bottom: 24px;
}

.modalInfoButtons {
  display: flex;
  justify-content: space-between;
}
