.accountContainer,
.subscriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;

  width: 972px;
  margin-top: 20px;
}

.firstContainer {
  width: 100%;
  padding: 18px 12px;
  background: var(--color-dark-500);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 972px;
  padding: 18px 12px;

  background: var(--color-dark-500);
}

.radio {
  width: 100%;
}

.buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;

  margin-top: 20px;
}

.btn svg {
  width: 96px;
  height: 64px;

  background: var(--color-dark-500);
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
}

.checkBoxandButton {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;

  margin: 40px 20px;
}

.checkBoxContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.subContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;

  width: 972px;
  margin: 20px 0;

  background: var(--color-dark-500);
  border-radius: 1px solid var(--color-light-300);
}

.subListContainer {
  width: 972px;
  padding: 10px 12px;
}

.subDate {
  display: flex;
  gap: 20px;
  margin: 5px;
}
