.modalOverlay {
  position: fixed;
  z-index: 10;
  inset: 0;
  background-color: rgb(0 0 0 / 80%);
}

.modalWrapper {
  pointer-events: none;

  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.modalContent {
  pointer-events: auto;

  position: relative;
  z-index: 1;

  width: fit-content;
  min-width: min(492px, 90vw);
  max-width: min(972px, 90vw);
  max-height: 564px;
  margin: 0;

  background: var(--color-dark-300);
}

.title {
  padding: 10px 20px;
  font-size: var(--font-size-xl);

  .closeInside & {
    padding-right: 40px;
  }
}

.description {
  max-height: 564px;
  padding-top: 30px;
  border-top: 1px solid var(--color-dark-100);
}

.closeInside {
  cursor: pointer;

  position: absolute;
  z-index: 2;
  top: 5px;
  right: 12px;

  padding: 5px;

  color: var(--color-light-100);

  background: transparent;
  border: none;

  &:hover {
    color: var(--color-light-900);
  }
}

.closeOutside {
  pointer-events: auto !important;
  cursor: pointer !important;

  position: absolute;
  z-index: 102;
  top: 50px;
  right: 400px;

  padding: 8px;

  color: var(--color-light-100);

  background: transparent;
  border: none;
  border-radius: 2px;

  transition: opacity 0.2s;

  &:hover {
    background: var(--color-dark-300);
  }
}
