.title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  margin-bottom: 24px;

  &:last-of-type {
    margin-bottom: 36px;
  }
}

.text {
  margin-bottom: 6px;
  color: var(--color-light-100);
}

.button {
  margin-bottom: 18px;
}
