.container {
  display: flex;
  align-items: center;
}

.profilePhoto {
  padding-left: 10px;
  margin: 25px;
}

.profilePhoto img {
  object-fit: cover;
  border: none;
  border-radius: 150px;
}

.profileData {}

.profileSettings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 25px 25px 0 0;

}

.profileSettings h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.profileSettings button {
  height: 36px;
  width: 170px;
  background-color: #333333;

  &:hover {
    background-color: #333333;
    border: none;
  }

  &:active {
    background-color: #397df6;
  }
}

.profileStatistics {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.profileFollowers,
.profileFollowing,
.profilePublications {
  margin-right: 140px;
}

.profileDescription {
  width: 1090px;
}

.profileDescription a {
  color: #397df6;
  text-decoration: underline;
}

.profileFollowers {
}

.profileFollowing {
}

.profilePublications {
}

//В этом случае, если ширина экрана менее 360 пикселей ...
@media (max-width: 360px) {}

@media (max-width: 376px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .profilePhoto {
    align-self: flex-start;
    margin: 0;
  }

  .profileStatistics {
    display: flex;
    align-items: center;
    margin: 0 0 0 20px;
  }

  .profileFollowers,
  .profileFollowing,
  .profilePublications {
    margin-right: 14px;
  }

  .profileSettings {
    justify-content: flex-start;
    width: auto;
    display: flex;
    margin: 0;
  }

  .profileSettings h1 {
    position: relative;
    top: 95px;
    right: 70px;
  }

  .profilePhoto h1 {
    font-weight: 700;
    font-size: 15px;
    line-height: 36px;
  }

  .profileSettings button {
    display: none;
  }

  .profilePhoto img {
    margin-top: 20px;
    width: 72px;
    height: 72px;
  }
  .profileDescription {
    position: relative;
    left: -70px;
    width: calc(115% + 10px);
    margin-top: 55px;
    height: 72px;
    overflow-y: auto;
  }

  .profileDescription p {}
}

@media (max-width: 414px) {}