.container {
  width: 345px;
  height: 90px;
}
.container div {
  margin-left: 20px;
}
.title{
  margin-top: 10px;
}
.message{}

.data{}

.createLine{
  width: 319px;
  border-top: 2px solid #4c4c4c;
}