.deleteWindow {
  height: 110px;
  width: 315px;
}

.message{
  margin-bottom:35px;
}

.buttons{
  display: flex;
  justify-content: right;
}

.buttons button{
  margin: 10px;
  padding: 6px 30px;
  &:active {
    background-color: #397DF6;
    color: #ffffff;
  }
}