.bodyContainer {
  display: flex;
  flex-direction: column;

  height: 100dvh;

  color: var(--color-light-100);

  background-color: transparent;
}

.main {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;

  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  color: var(--color-light-100);

  @media (width <= 400px) {
    width: 100%;
    margin: 0;
  }
}
