.button{
  border-radius: 2px;
  padding: 6px 24px;
  min-width: 182px;
  cursor: pointer;
  border-style: none;
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-m);
  font-size: var(--font-size-m);
}
.buttonDefault{
  background-color: var(--color-accent-500);

  &:active{
    background-color: var(--color-accent-700);
  }
  &:hover{
    background-color: var(--color-accent-100);
  }
  &:focus{
    border: 1px solid var(--color-accent-700);
    background-color: var(--color-accent-500);
  }
  &:disabled{
    background-color: var(--color-accent-900);
    color: var(--color-light-900);
  }

}
.buttonSecondary{
  background-color: var(--color-dark-500);

  &:active{
    background-color: var(--color-dark-700);
  }
  &:hover{
    background-color: var(--color-dark-100);
  }
  &:focus{
    border: 1px solid var(--color-accent-500);
    background-color: var(--color-dark-500);
  }
  &:disabled{
    color: var(--color-light-900);
  }
}
.buttonOutline{
  background-color: transparent;
  border: 1px solid var(--color-accent-500);
  color: var(--color-accent-500);
  &:active{
    border: 1px solid var(--color-accent-700);
    color: var(--color-accent-700);
  }
  &:hover{
    border: 1px solid var(--color-accent-100);
    color: var(--color-accent-100);
  }
  &:focus{
    border: 2px solid var(--color-accent-700);
    color: var(--color-accent-700);
  }
  &:disabled{
    border: 1px solid var(--color-accent-900);
    color: var(--color-accent-900);
  }
}
.buttonText{
  background-color: transparent;
  border-radius: 2px;
  padding: 6px 24px;
  cursor: pointer;
  color: var(--color-accent-500);
  font-weight: var(--font-weight-semi-bold);
  border-style: none;
  line-height: var(--line-height-m);
  font-size: var(--font-size-m);
  &:active{
    color: var(--color-accent-700);
  }
  &:hover{
    color: var(--color-accent-100);
  }
  &:focus{
    border: 2px solid var(--color-accent-700);
    color: var(--color-accent-700);
  }
  &:disabled{
    color: var(--color-accent-900);
  }
}