.content {
  display: flex;

  @media (width <= 550px) {
    flex-direction: column;
  }
}

.slider {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #8d9094;

  img {
    width: 100%;
    min-width: 250px;
    object-fit: cover;
  }

  .sliderButtons {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);

    display: flex;
    justify-content: space-between;

    padding: 0 16px;

    button {
      cursor: pointer;

      font-size: 35px;
      color: white;

      background: none;
      border: none;
    }
  }

  .imagePagination {
    position: absolute;
    bottom: 20px;

    font-size: 20px;
    font-weight: bold;
    color: deepskyblue;
  }
}

.userData {
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;

  padding: 20px;

  background-color: #4c4c4c;

  .userAvatar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    img {
      width: 52px;
      height: 48px;
      margin-right: 15px;

      background-color: lightgreen;
      border-radius: 50%;
    }

    p {
      color: #8d9094;
    }
  }

  .userDescription {
    margin-bottom: 20px;

    textarea {
      resize: none;

      width: 100%;
      min-width: 200px;
      height: 120px;
      padding: 10px;

      font-size: 16px;
      color: #fff;

      background-color: #333;
      border: none;
      outline: none;
    }

    span {
      display: block;
      margin-top: 5px;
      color: #8d9094;
      text-align: right;
    }
  }

  .userLocation {
    h3,
    p,
    span {
      margin: 5px 0;
      color: #8d9094;
    }
  }
}
