.settingsHeader{
  margin: 30px;
}

.settingsHeader button {
  width: 300px;
  color: gray;
  background-color: transparent;
  border: none;

  border-bottom: 3px solid grey;

  &:hover {
    background-color: transparent;
    color: #397df6;
    border-bottom: 3px solid #397df6;
  }
  &:active {
    background-color: transparent;
    color: #397df6;
    border-bottom: 3px solid #397df6;
  }
  &:focus {
    border: gray;
    background-color: transparent;
    color: #397df6;
    border-bottom: 3px solid #397df6;
  }
}

.active {
  color: #397df6;
  border-bottom: 3px solid #397df6;
}

@media (max-width: 376px) {
  .settingsHeader {
    width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .settingsHeader button {
    width: auto;
    display: flex;
    flex-direction: row;
  }
}
