.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-around;
}

.post {
  display: flex;
  flex: 0 1 234px;
  flex-direction: column;
  text-align: left;

  &:hover {
    background-color: rgb(76 76 76 / 30%);
  }
}

.slider {
  position: relative;
  margin-bottom: 12px;
  padding-top: 100%;
}

.image {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.userProfile {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 12px;
}

.photoUser {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.nameUser {
  font-weight: 600;
}

.ublicationDate {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-s);
}

.text {
  font-size: var(--font-size-s);
}
