.crossComponent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.crossComponent:hover {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
