.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
  width: 100%;
  padding: 12px 24px;

  color: var(--color-light-100);

  background-color: var(--color-dark-300);

  .label {
    flex: 1 1 auto;
    font-size: 1.2rem;
  }

  .digits {
    display: flex;
  }

  .digitContainer {
    position: relative;

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2rem; /* Ширина контейнера цифры */
    height: 3rem; /* Высота контейнера цифры */

    background-color: var(--color-dark-900);
    border: var(--color-dark-300) 1px solid;
  }

  .digit {
    will-change: transform;
    position: absolute;
    top: 0;
    transition: transform 0.5s ease-in-out;
  }

  .digitItem {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 3rem; /* Высота одной цифры */

    font-size: var(--font-size-l);
    font-weight: var(--font-weight-bold);
  }
}
