.paginationContainer {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  color: var(--color-light-100);

  background-color: var(--color-dark-900);
  &Text {
    font-size: var(--font-size-s);
    font-weight:var(--font-weight-thin);
    line-height: var(--line-height-m);
    color: var( --colzzxor-light-100);
  }
}

