.commentsContainer {
  overflow-y: hidden;
  border-top: 1px solid rgb(76 76 76 / 100%);
}

.comments {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;

  padding: 12px 18px;

  border-bottom: 1px solid rgb(76 76 76 / 100%);
}

.text {
  word-break: break-word;
}

.viewComments {
  margin-left: 12px;
  font-size: 0.9em;
}

.footer {
  bottom: 0;
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.footer button {
  cursor: pointer;

  margin: 0 0 24px 12px;

  color: var(--color-accent-500);

  background: transparent;
  border: none;
}
