.modalOverlay {
  position: fixed;
  z-index: 10;
  inset: 0;
  background-color: rgb(0 0 0 / 50%);
}

.modalContent {
  width: 992px;
  position: fixed;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: var(--color-dark-300);
  border: 1px solid var(--color-dark-100);
}

.close{
  position: absolute;
  top: -30px;
  right: -30px;
  cursor: pointer;
}