.ellipse {
  cursor: pointer;
  font-size: 28px;
  color: white;
}

.postContainer {
  min-width: 972px;
  height: 564px;
}

.btn {
  color: white;
}

.header {
  display: flex;
  gap: 250px;
  align-items: center;

  width: 100%;
  padding: 12px 24px;
}

.contentTwo {
  display: flex;
}

.imageContainer {
  width: 500px;
  height: 621px;
}

.singleImage {
  min-width: 500px;
}

.content {
  z-index: 100;
  display: flex;
  flex-wrap: nowrap;
}

.commentsContainer {
  flex-basis: 450px;
  flex-grow: 1;

  max-width: 500px;
  min-height: 250px;
  padding-top: 20px;
}
