.ellipse {
  font-size: 46px;
  color: blue;
  cursor: pointer;
}

.postContainer {
  width: 972px;
  height: 564px;
}
.btn {
  display: flex;
  column-gap: 20px;
  justify-content: flex-end;
  margin-top: 4px;
  color: white;
  border: none;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 300px;
  margin-left: 10px;
  padding: 12px 24px;
}

.modalHead {
}
//header and comments
.contentTwo {
  display: flex;
}

.imageContainer {
  width: 500px;
  height: 621px;
}

.singleImage {
  min-width: 320px;
  min-height: 440px;
}

.content {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  z-index: 100;
  border-top: 1px solid rgba(76, 76, 76, 1);
}

.commentsContainer {
  flex-basis: 450px;
  flex-grow: 1;

  width: 500px;
  min-height: 250px;
  padding-top: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
}
