.profileSettings {
  margin: 20px;
}

.paymentsTable {
  border-collapse: collapse;

  width: 972px;
  height: 432px;
  padding: 10px;

  background: var(--color-dark-900);
}

.tableCell {
  th,
  td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }

  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 972px;
  margin-top: 20px;

  button {
    cursor: pointer;

    padding: 10px 15px;

    color: white;

    background-color: #007bff;
    border: none;
    border-radius: 5px;

    &:hover {
      background-color: #0056b3;
    }
  }

  select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
}
