.popupOverlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background: var(--color-dark-500);
}

.popupContent {
  background-color: var(--color-dark-300);
  border: 1px solid var(--color-dark-100);
}

.popupTitle {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-l);
}

.closeButton {
  cursor: pointer;

  padding: 0;

  font-size: 24px;

  background: none;
  border: none;

  &:hover {
    background: none;
  }
}

.popupHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 17px 24px;

  border-bottom: 1px solid var(--color-dark-100);
}

.popupBody {
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
}

.okButton {
  align-self: flex-end;
  width: 96px;
  margin-top: 15px;
}
